html {
  color: #070c0d;
  line-height: 1.62em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
html.dark {
  background: #070c0d;
  color: #ded6c7;
}
body {
  margin: 1em;
}
a {
  color: #2a909e;
  text-decoration: underline dotted;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 3px solid #000;
  padding: .5em;
}

a:hover {
  color: #61b3bf
}
a:visited {
  color: #9344B1;
}
a:visited:hover {
  color: #BB6BD9;
}
dd {
  margin: 0 0 1em;
  opacity: .8;
}
.icon {
  width: 20px;
  text-decoration: wavy;
}
.textCenter {
  text-align: center;
}

.content > * {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.content figure {
  max-width: max-content;
}
.content figure img {
  max-width: 100%;
  border: 2px solid #070c0d;
}
.content p > code {
  padding: 4px;
  background: #f2f2f2;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  white-space: nowrap;
}
.content .footnotes {
  font-size: .9em;
}
.content figcaption {
  font-size: .8em
}