.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5em;
}
.menuItem {
  display: inline-flex;
  margin: 0 .5em;
}